<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Menu</h3>
        <ul class="nav side-menu">
            <li>
                <a href="/repo/dashboard/home"><i class="fa fa-home"></i> Home </a>
            </li>
            <li class="import-link">
                <a id="workspace" href="<%=app_path%>/dashboard/ingest/workspace"><i class="fa fa-cogs"></i> Make Digital Objects</a>
            </li>
            <li class="import-link">
                <a id="metadata" href="<%=app_path%>/dashboard/ingest/metadata"><i class="fa fa-cogs"></i> ASpace Description QA</a>
            </li>
            <li class="import-link">
                <a id="ingest" href="<%=app_path%>/dashboard/ingest"><i class="fa fa-upload"></i> Packaging and Ingesting </a>
            </li>
            <li class="import-link">
                <a id="ingest-status" href="<%=app_path%>/dashboard/ingest/status"><i class="fa fa-cogs"></i> Jobs History </a>
            </li>
            <!--
            <li>
                <a id="add-collections" href="<%=app_path%>/dashboard/collections"><i class="fa fa-plus"></i> Add Collection</a>
            </li>
            -->
        </ul>
    </div>
</div>