<%- include('partials/header.ejs'); %>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <%- include('partials/app-name.ejs'); %>
                </div>
                <div class="clearfix"></div>
                <%- include('partials/menu-profile.ejs'); %>
                <br>
                <%- include('partials/nav.ejs'); %>
                <%- include('partials/sidebar-footer.ejs'); %>
            </div>
        </div>
        <%- include('partials/top-nav.ejs'); %>
        <div class="right_col" role="main">
            <div class="">

                <div class="page-title">
                    <div class="title_left">
                        <h3 id="collection-type"> </h3>
                    </div>
                    <div class="title_right"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 id="collection-name">Collections</h2>
                                <ul class="nav navbar-right"></ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="message"></div>
                                <div class="row" id="collection-forms">
                                    <div class="col-xs-12">

                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" id="collection-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="collection-tab" data-toggle="tab" href="#add-collection" role="tab" aria-controls="add_collection" aria-selected="true">Add Collection</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="sub-collection-tab" data-toggle="tab" href="#add-sub-collection" role="tab" aria-controls="add_sub_collection" aria-selected="false">Add Sub-Collection</a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="add-collection" role="tabpanel" aria-labelledby="collection-tab">

                                                <br>

                                                <form name="collection-form" id="collection-form">

                                                    <div class="form-group">
                                                        <input name="is_member_of_collection" type="hidden" id="is-member-of-collection" value="codu:root">
                                                        <label for="collection-uri">* Archivesspace URI  e.g. (/repositories/2/resources/771)</label>
                                                        <input name="collection-uri" type="text" class="form-control" id="collection-uri" required>
                                                    </div>

                                                    <br>
                                                    <button type="button" class="btn btn-primary" id="add-collection-button"><i class="fa fa-save"></i>&nbsp;Save</button>

                                                </form>

                                            </div>
                                            <div class="tab-pane" id="add-sub-collection" role="tabpanel" aria-labelledby="sub-collection-tab">
                                                <br>
                                                <form name="sub-collection-form" id="sub-collection-form"><!--onselect="select_collection(); addEventListener -->

                                                    <div class="form-group">
                                                        <input name="is_member_of_collection" type="hidden" id="is-member-of-collection">
                                                        <select id="collections" class="form-control form-control-lg" aria-label="Collections"></select>
                                                        <br>
                                                        <br>
                                                        <!-- /repositories/2/resources/(archivespace ID) form-select -->
                                                        <label for="sub-collection-uri">* Archivesspace URI  e.g. (/repositories/2/resources/771)</label>
                                                        <input name="sub-collection-uri" type="text" class="form-control" id="sub-collection-uri" required>
                                                    </div>

                                                    <br>
                                                    <button type="submit" class="btn btn-primary" id="add-collection-button"><i class="fa fa-save"></i>&nbsp;Save</button>

                                                </form>

                                            </div>
                                        </div>

                                        </div>
                                        <!-- Tabs content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/repo/static/libs/jquery/dist/jquery.min.js"></script>
    <script src="/repo/static/libs/bootstrap-4.6.2/js/bootstrap.bundle.js"></script>
    <script src="/repo/static/libs/nprogress/nprogress.js"></script>
    <script src="/repo/static/libs/dompurify/purify.min.js"></script>
    <script src="/repo/static/libs/axios-2.x/dist/axios.min.js"></script>
    <script src="/repo/static/assets/js/theme_sidebar.js"></script>
    <script src="/repo/static/app/dom.module.js"></script>
    <script src="/ingester/static/app/helper.module.js"></script>
    <script src="/ingester/static/app/http.module.js"></script>
    <script src="/ingester/static/app/collections.module.js"></script>
</body>
</html>